html {
	background:url('http://subtlepatterns.com/patterns/wood_pattern.png');
	font-size: 10pt;
}
.container-header {
	width: 200px;
	background-color: #89B5E2;
	height: 30px;
	text-align: center
}

.cutomer_name{
	vertical-align: middle;
}

.billing_order{
	vertical-align: middle;
}

.input-field-1 {
	margin-top: 30px;
}

.tableborder {
	border: 1px solid;
}

.input-field-1 input {
	width: 200px;
	height: 37px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.button input[type="submit"] {
	background-color: #173B67;
	padding: 8px;
	color: #fff;
	border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
	border: 1px solid;
	width: 114px;
	font-size: 17px;
}

.button {
	overflow: hidden;
	height: auto;
	margin-top: 30px;
	margin-left: 20px;
}

span.gap0 {
	margin-right: 30px;
}

span.customer_number {
	margin-right: 30px;
}

.form-fields-1 {
	float: left;
}

.form-fields {
	background-color: rgba(211,211,211,0.5);
	overflow: hidden;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
	border-bottom: 2px solid #ccc;
}

.lower {
	background-color: rgba(211,211,211,0.5);
	margin-top: 20px;
}

.form-fields-2 {
	float: right;
	width: %;
	margin-bottom=30px;
	/* margin-right: 196px; */
}

span.total_amount {
	margin-right: 30px;
	margin-left: 30px;
}

.save {
	float: left;
	width: 20%;
}

.Ditem {
	float: left;
	width: 20%;
}

.neworder {
	float: left;
	width: 20%;
}

.clear {
	float: left;
	width: 20%
}

.form-fields input {
	height: 25px;
	border: 1px solid #444;
	border-radius: 3px;
}

.button input[type="submit"]:hover {
	background-color: #ccc;
	padding: 8px;
	color: #444;
	border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
	border: 1px solid #ccc;
	width: 116px;
	font-size: 17px;
}

table#sample {
	margin-top: 50px;
	margin-right: 10px;
	margin-left: 10px;
	border-style: solid;
    border-color: #ffffff;
	width: 98%;
}

  
table#sample th {
	margin-top: 50px;
	height: 30px;
	border-color: #ffffff;
}

table#sample td {
	padding: 0px 0;
	height: 30px;
    border-color: #ffffff;
}


table#left_table {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border-width: 10px;
	width: 100%;
}

.billing {
	background-color: #89B5E2;
	height: 30px;
	text-align: center
}

.container {
	margin-left: 20px;
	margin-right: 20px;
}

