
mybake-war/.classpath

**/*.project

mybake-war/.classpath

mybake-model/.classpath

*.prefs

mybake-war/.classpath

mybake-billing/.classpath

mybake-billing/.classpath

mybake-billing/.project

*.prefs

mybake-billing/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

mybake-billing/.settings/org.eclipse.wst.common.project.facet.core.xml

mybake-common/.classpath

mybake-common/.project

mybake-billing/.classpath

mybake-billing/.project

datanucleus.log

**/*.log

**/*.classpath
*.class

*.class

mybake-common/target/mybake-common-1.0-SNAPSHOT.jar

mybake-common/target/maven-archiver/pom.properties

*.class

*.class

*.class

*.class

*.class
